h1 { font-size: 8.8vw; text-shadow: 5px 5px black; }
#div-textarea { margin-top: -3vw; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.add_container {
  background-color: #181B20;
  min-height: 100vh;
  padding: 2vw;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: #e4e6eb;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view_container {
  background-color: #181B20;
  min-height: 100vh;
  padding: 2vw;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: #e4e6eb;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* #story {
  width: 34vw;
  height: 75px;
  border: 0px solid black;
  border-radius: 1vw;
  font-size: 2vw;
  padding: .7vw 1.2vw .7vw 1.2vw; 
  resize: none;
  margin: 10px;
}

#user {
  float: left;
  max-height: 2.9vw;
  max-width: 15vw;
  border: 0px solid black;
  border-radius: 1vw;
  font-size: 1.7vw;
  padding: .7vw 1.2vw .7vw 1.2vw; 
  resize: none;
  margin: 20px;
} */

button {
  padding: .7vw 1.2vw .7vw 1.2vw; 
  font-size: 2vw;
  border: 0px solid black;
  border-radius: 1vw;
  box-shadow: 5px 5px black;
  text-decoration: none; 
  width: 15vw;
  margin: 10px;
}

#button-post {
  color: white;
  text-decoration: none;
}

.post_container {
  background-color: #242526;
  width: 600px;
  padding: 10px;
  border: 0px solid whitesmoke;
  border-radius: 8px;
  align-items: " center ";
  display: "flex";
  justify-content:"center";
  flex-direction: "row";
}

.post_content {
  background-color: #3a3b3c;
  color: #e4e6eb;
  padding: 7px 10px 7px 15px;
  border: 0px solid black;
  border-radius: 1.4vw;
  font-size: calc(10px + .6vmin);
}

.post_username {
  padding-bottom: 5px;
  
}

.post_id {
  float: right;
  font-size: calc(10px + .6vmin);
  
}

.post_reaction {
  font-size: calc(10px + .6vmin);
  text-align: right;
  padding: 7px 10px 7px 15px;
  border: 0px solid black;
  border-radius: 2vw;
  /* float: center;
  display:inline-block;
  align-items: center;
  justify-content: center; */
  /* margin-right: 13vw; */
}


.post_reaction_del {
  font-size: calc(10px + .6vmin);
  text-align: center;
  padding: 7px 10px 7px 15px;
  border: 0px solid black;
  border-radius: 2vw;
  /* display:inline-block; */
  /* align-items: center;
  justify-content: center; */
  /* margin-right: 13vw; */
  /* float: right; */
}

.post_reaction_del:hover {
  cursor: pointer; 
  background-color: rgb(71, 71, 139); 
}

.post_reaction:hover {
  background-color:rgb(69, 69, 143);
  cursor: pointer;
}

#spacer {
  height: 10px;
}

#id {
  -webkit-appearance: none;
  margin: 0;
}

#add_id {
  width: 30%;
}

#add_username {
  width: 65%;
}

#add_content {
  height: 150px;
}

.float_left {
  float: left;
  position: absolute;
  font-size: calc(10px + 1vmin);
}



.like_counter {
  margin: 3px 0px 0px 15px;
  background-color: #3a3b3c;
  color: #e4e6eb;
  padding: 1px 9px 0px 9px;
  border: 0px solid black;
  border-radius: 1vw;
  background-color: rgb(71, 71, 139); 

}

  

.below_post {
  display: flex;
  flex-wrap: wrap;
  float: right;
}

.cursor_hand {
  cursor: pointer;
}
.below_post:hover{
  cursor: pointer; 
  
}