/* .App {
  text-align: center;
}
 */

h1 { font-size: 8.8vw; text-shadow: 5px 5px black; }
#div-textarea { margin-top: -3vw; }

.container {
  background-color: #181B20;
  min-height: 100vh;
  padding: 2vw;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

#story {
  width: 34vw;
  height: 75px;
  border: 0px solid black;
  border-radius: 1vw;
  font-size: 2vw;
  padding: .7vw 1.2vw .7vw 1.2vw; 
  resize: none;
  margin: 5px;
}

#user {
  float: left;
  max-height: 2.9vw;
  max-width: 15vw;
  border: 0px solid black;
  border-radius: 1vw;
  font-size: 2vw;
  padding: .7vw 1.2vw .7vw 1.2vw; 
  resize: none;
  margin: 10px;
}

button {
  padding: .7vw 1.2vw .7vw 1.2vw; 
  font-size: 2vw;
  border: 0px solid black;
  border-radius: 1vw;
  box-shadow: 5px 5px black;
  text-decoration: none; 
  width: 15vw;
  margin: 10px;
}

#button-post {
  color: white;
  text-decoration: none;
}

.post_container {
  background-color: darkgray;
  width: 40%;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
}

.post_content {
  background-color: lightyellow;
  color: #181B20;
  padding: 8px;
}

.post_username {
  padding-bottom: 5px;
}

.post_id {
  float: right;
}

#spacer {
  height: 10px;
}